.container {
  display: flex;
  flex-wrap: wrap;
}

.chart-container {
  position: relative;
  height: 45vh;
  width: 50%;
}

@media (max-aspect-ratio: 1/1) {
  .chart-container {
    width: 100%;
  }
}

#canvas {
  display: block;
  margin: 2rem auto;
}
